.content-container {
  display: flex;
  flex-direction: column;
  padding: 2%;

}

.content-container>* {
  width: 100%;
}

.content-container form {
  margin-bottom: 20px;
}

.content-container form>* {
  margin: 5px 0;
}

.content-container .mat-radio-button {
  margin: 0 12px;
}

.txt-duration {
  width: 50px;
}

.readOnly {
  background-color: #D5DBDB
}

.error_box {
  margin-top: 50px;
  margin-bottom: 50px;
  color: red;
}
.image {
  position: relative;
  border: solid 1px;
  border-color: grey;
  height: 30px;
}

.image button {
  position: absolute;
  right: 20px;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 100px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: auto;
  height: 130px;
  padding-top: 5px;;
 
}
div.desc {
  padding: 15px;
  text-align: center;
}
.btn-remove-image{
  margin-top:10px;
  width: 100px;
  border-radius: 0px ;
}
.readOnly{
  background-color: rgb(163, 158, 158)!important;
}