<div class='form-wrap'>
 


  <form class="content-container" [formGroup]="productForm">
     
      <div>
        <div *ngFor="let url of product.imageUrls" class="gallery">
          <a target="_blank" href="{{url}}">
            <img src="{{url}}">
          </a>
          <button type="button" class="btn btn-outline-dark btn-remove-image" (click)="removeImage(url)">Remove</button>
        </div>
      </div>
      <div style="position: relative;; padding-bottom: 30px;;"><uploader style="position: absolute; right:50%;" [key]="sku" (close)="uploadComplete($event)"></uploader></div>
   
      <div style="clear: right;"></div>
    <mat-form-field>
   
      <mat-select formControlName="category_id" [(value)]="defaultCategory" placeholder="Product Category" required>
        <mat-option value="1">
         Health
        </mat-option>
        <!-- <mat-option *ngFor="let category of categories" value="category.value">
          {{category.text}}
        </mat-option> -->
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input type="text" readonly placeholder="SKU" aria-label="sku" matInput class="readOnly" formControlName="sku" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Title" formControlName="title" required>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description" formControlName="description" required></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Available Sizes</mat-label>
      <input matInput placeholder="Use comma to separate. ex: LG,MD,SM" formControlName="availableSizes" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Style" formControlName="style" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Price" type="number" formControlName="price"  required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Currency</mat-label>
      <mat-select formControlName="currencyFormat" matInput>
        <mat-option *ngFor="let currency of currencies" [value]="currency.value">
          {{currency.text}}
        </mat-option>
      </mat-select>
    
    </mat-form-field>
          <mat-checkbox  class="example-margin" formControlName="isFreeShipping" required>"Free Shipping</mat-checkbox>
    <ng-content></ng-content>

  </form>
</div>